[Unit]
Description=Cloudway Worker

[Service]
Type=forking
ExecStart=/opt/cloudway/sbin/cloudway-worker.sh startall
ExecStop=/opt/cloudway/sbin/cloudway-worker.sh stopall
ExecReload=/opt/cloudway/sbin/cloudway-worker.sh restartall
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
