[Unit]
Description=Cloudway Worker

[Service]
Type=forking
ExecStart=/usr/sbin/cloudway-worker.sh startall
ExecStop=/usr/sbin/cloudway-worker.sh stopall
ExecReload=/usr/sbin/cloudway-worker.sh restartall
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
